# --- Python & Jupyter Junk ---
__pycache__/
*.py[cod]
*$py.class
*.pyc
.ipynb_checkpoints/

# --- Operating System Junk (Mac/Windows) ---
.DS_Store
Thumbs.db

# --- Virtual Environments ---
env/
venv/
.env
*.venv/

# --- Datasets (GitHub doesn't allow huge files > 100MB) ---
*.csv
*.xlsx
*.zip
data/*
*.db

# Allow sample / placeholder
!data/.gitkeep
!data/sample/.gitkeep

# --- VS Code Settings ---
.vscode/
.idea/

# CatBoost & XGBoost Cache
catboost_info/

# --- Models (Optional: If file is >100MB then ignore) ---
# artifacts/
# *.pkl
*.joblib

# Logs
*.log

# Python Package Metadata
*.egg-info/
dist/
build/