fastapi
uvicorn
pandas
numpy
scikit-learn
sentence-transformers
faiss-cpu
xgboost
catboost
python-dotenv
pydantic
requests
seaborn
matplotlib
joblib
pyyaml
python-multipart
sqlalchemy
-e git+ssh://git@github.com/kunalbaghelkb/data-science-projects.git@bb8830c1aa5
975fc58a2538bd608d97d52f2861d#egg=Airbnb_AI_Suite&subdirectory=Airbnb_AI_Suite